.body-center{
    text-align: center;
    background-color: #7bed9f;
    height:100vh;
}

#headerSection{
    padding: 5px;
}

#headerSection h1{
    font-family: cursive;

}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 13%;
}

#loginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #ced6e0;
    color: black;
    font-size: 15px;
    
}

.body-center{
    text-align: center;
    background-color: #7bed9f;
    height:100vh;
}
